html,body{min-height:100%;}
#sidebar {
    height: 100%;
    padding: 0px;
    margin-right: 15px;
    /* box-shadow: 10px, 0px, 10, 3px, grey; */
}

#page {
    /* margin: 15px; */
    /* border-left: 2px solid; */
    /* border-color: black; */
    padding-left: 0;
}
.btn {
    background: #b3d9ff;
    padding: 2px;
}
.btn:hover {
    background: #66b5ff;
}

#sidebar-collapsed {
    height: auto;  
}

#nav-collapsed {
    border-bottom: 2px solid;
    border-color: black;
    padding: 0px;
    box-shadow: 0px 3px 8px grey;
}

#sidebar-collapse-button .btn {
    background: none;
}

.profile-name {
    text-align: center;
    margin-top: 5px;
    color: black;
    font-size: 20px;
    margin-bottom: 5px;
}

.profile-username {
    text-align: center;
    margin-top: 5px;
    color: grey;
    font-size: 15px;
    margin-bottom: 5px;
}
.profile-buttons {
    text-align: center;
}

.sidebar-menu {
    padding-top: 5px;
}

.sidebar-menu ul.nav li a:hover{
    background: #b3d9ff;
}

.sidebar-menu ul.nav li.active{
    border-left: 2px solid #66b5ff;
    background: #e6f3ff;
}

.btn.service-start {
    background: green;
    color: white;
}

.btn.service-stop {
    background: red;
    color: white;
}

.btn.service-restart {
    background: orange;
    color: white;
}

.services .status-icon {
    font-size: 20px;
    text-align: center;
    /* padding: inherit; */
}
.services tbody tr th {
    padding: 2px;
    vertical-align: middle;
}
.services .status-icon .glyphicon-ok-sign {
    color: green;
}

.services .status-icon .glyphicon-remove-sign {
    color: red;
}

.services .status-icon .glyphicon-question-sign {
    color: orange;
}

.services .service-desc {
    padding: inherit;
}
.services .service-buttons {
    text-align: left;
}

/* html, body, body .container-fluid, body .container-fluid .row  { */
/*     height: 100%; */
/* } */